.DS_store

*.swp
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

xcuserdata

openCLImageLoad.xcodeproj/project.xcworkspace/xcuserdata/beau.xcuserdatad/UserInterfaceState.xcuserstate

DerivedData/openCLImageLoad/Logs/Debug/Cache.db

DerivedData/openCLImageLoad/Logs/*

